
<h1 class="title">Patient</h1>

<script>
function Attachment(data) {
	var self = this;
	self.module = ko.observable(data.module);
}

function PatientViewModel(d) {
	var self = this;
	self.patientId = ko.observable(d.patient_id);
	self.patientName = ko.observable(d.patient_name);
	self.facility = ko.observable(d.facility);
	self.age = ko.observable(d.age);
	self.csz = ko.observable(d.csz);
	self.attachments = ko.observableArray();
}

$(document).ready(function() {
	// Menu selection
	selectMenu('patients');

	var obj = {};
	$.ApiGET("/patient/"+encodeURIComponent(pageParams)+"/info", function(d) {
		obj = d;
		$.ApiGET("/patient/"+encodeURIComponent(pageParams)+"/attachments", function(d2) {
			console.log(d2);
			//self.attachments($.map(d2, function(m) { return new Attachment(m); }));
			obj.attachments = d2;
		});
		ko.applyBindings(new PatientViewModel(obj), document.getElementById('mainFrame'));
	});

});
</script>

<div class="container">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#"><span data-bind="text: patientName"></span> (<span data-bind="text: patientId"></span>)</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item nav-active">
			  <a class="nav-link nav-active" href="#">
				  <img src="node_modules/bootstrap-icons/icons/house.svg" alt="" width="16" height="16" title="Home" alt="Home" />
			  </a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">
				  <img src="node_modules/bootstrap-icons/icons/envelope.svg" alt="" width="16" height="16" title="Messages" alt="Messages" />
			  </a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Dropdown
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a>
			  </div>
			</li>
		  </ul>
		  <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		  </form>
		</div>
	  </nav>

</div> <!-- /container -->