
<h1 class="title">Progress Notes</h1>

<script>
var progresNotesModel = {
	cancel: function() {
		// Cancel action will go back to messages view
		loadPage( 'messages' );	
	},
	submit: function() {
		console.log("progressNotesModel.submit");
		// TODO: POST DATA
	},
	msgfor: ko.observable(),
	msgsubject: ko.observable(),
	msgtext: ko.observable()
};

$(document).ready(function() {
	// Menu selection
	selectMenu('patient.progressnotes');

	// Loading code
	ko.applyBindings(progressNotesModel, document.getElementById('mainFrame'));
});
</script>

<div class="panel panel-default">
	<div class="panel-heading">Progress Notes</div>
	<div class="panel-body">

		<form>

			<div class="form-group">
				<label for="msgfor">To</label>
				<input name="msgfor" id="msgfor" type="text" class="form-control" data-bind="text: msgfor" />
			</div>

			<div class="form-group">
				<label for="msgsubject">Subject</label>
				<input name="msgsubject" id="msgsubject" type="text" class="form-control" data-bind="text: msgsubject" />
			</div>

			<div class="form-group">
				<label for="msgtext">Message</label>
				<textarea name="msgtext" id="msgtext" type="text" class="form-control" data-bind="text: msgtext"></textarea>
			</div>

			<button type="submit" class="btn btn-primary" disabled="disabled" data-bind="click: submit"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Send</button>
			<button type="submit" class="btn btn-default" data-bind="click: cancel"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>

		</form>

	</div> <!-- /panel-body -->

</div> <!-- /panel -->

