<h1 class="title">Scheduler</h1>

<script>
    $(document).ready(function() {
        var calendarEl = document.getElementById('scheduler');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid', 'timeGrid', 'list', 'interaction', 'bootstrap' ],
            themeSystem: 'bootstrap',
            defaultView: "timeGridWeek",
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: function(info, successCallback, failureCallback) {
                $.ApiGET("/scheduler/dailyapptrange/"+dateToJSONLocal(info.start)+"/"+dateToJSONLocal(info.end), function(data,status,xhr){
                    if (status > 399) {
                        failureCallback(err);
                    } else {
                        // Interpolate ...
                        var events = []
                        $.each(data, function(k, v) {
                            var startDate = new Date(v.date_of.slice(0,10));
                            startDate.setHours(v.hour);
                            startDate.setMinutes(v.minute);
                            console.log(startDate);
                            var s = (v.hour * 60) + v.minute;
                            var endDate = new Date(v.date_of.slice(0,10));
                            endDate.setHours(parseInt((s + v.duration) / 60));
                            endDate.setMinutes((s + v.duration) % 60);

                            // Create "title"
                            var title = v.patient;
                            if (v.provider != null) {
                                title += "("+v.provider+")";
                            }
                            title += " [" + v.note + "]";

                            // Determine if there's any color associated
                            var color = "";
                            if (v.template_color != null) {
                                color = v.template_color;
                            }

                            events.push({
                                id: v.scheduler_id,
                                patient_id: v.patient_id,
                                title: title,
                                start: startDate,
                                end: endDate,
                                color: color
                            });
                        });
                        // ... and return
                        successCallback(events);
                    }
                });
                    
            }
        });
        calendar.render();
    });
</script>

<div id="scheduler"></div>
