
/*
 *	COMMON
 */

H1.title {
	display: none;
}

#mainFrame {
	margin-top: 70px;
}

DIV.panel-body {
	text-align: center;
}

H4#nav-title {
	color: #ffffff;
}

/* Override to put switches on their own lines */
.bootstrap-switch {
	display: block !important;
}

/*
 *	LOGIN FORM
 */


/* Centered signin button */
#signinControls {
	text-align: center;
}

/* Breathing room for login form */
DIV#signin FORM FIELDSET DIV.control-group DIV.controls INPUT {
	margin-bottom: 10px;
}

