
/*
 *	COMMON
 */

H1.title {
	display: none;
}

.logo {
	padding: 5px;
}

#mainFrame {
	margin-top: 70px;
}

.panel-center {
	text-align: center;
}

#nav-title {
	color: #ffffff;
	font-weight: bold;
}

/* Override to put switches on their own lines */
.bootstrap-switch {
	display: block !important;
}

/*
 *	LOGIN FORM
 */

BODY {
	background: url(../img/Laptop_and_stethoscope.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

DIV#mainFrame {
	background-color: #ffffffaa;
}

/* Centered signin button */
#signinControls {
	text-align: center;
}

/* Breathing room for login form */
DIV#signin FORM FIELDSET DIV.control-group DIV.controls INPUT {
	margin-bottom: 10px;
}

/*
 *  SCHEDULER
 */

 DIV#scheduler {
	 background-color: #ffffff;
 }